$screen-sm-min: 768px;

$standard-motion-curve: cubic-bezier(0.4, 0, 0.2, 1);
$sharp-motion-curve: cubic-bezier(0.4, 0, 0.6, 1);
$default-animation-time: 0.1s;

$default-input-height: 40px;

$modal-container-z-index: 9999;
