@import '../styles/constants';
.pcContainer {
  display: flex;
  flex-direction: column;

  max-width: 1180px;

  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  font-size: 16px;
  color: $black87;

  overflow: auto;
}
.rwContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  
  font-size: 14px;
  color: $black87;

  overflow: scroll;
}
