@import '../styles/constants';
@mixin accountNumber {
  font-size: 20px;
  color: $primary;
  -webkit-text-fill-color: $primary;
}
@mixin numberMain {
  @include containerLayout;
  margin-top: 6px;
  padding-right: 12px;
}
:local {
  .pcBankAccount {
    background-color: #fff;
    width: $max-content-width;
    margin: 20px auto 0;
    .title {
      @include containerLayout;
      height: 24px;
    }
    .bankIcon {
      img {
        @include imageSize;
      }
    }
    .bankName {
      margin-left: 8px;
    }
    .number {
      margin-left: 33px;
      padding: 22px 0 0;

      &Label {
        font-size: 14px;
      }
      &Main {
        @include numberMain;
        justify-content: flex-start;
      }
    }
    .accountNumber {
      @include accountNumber;
    }
    .allowCopy {
      @include tappable;
      color: #26aa99;
      margin-left: 23px;
    }
    .text {
      margin-left: 33px;
      padding-bottom: 24px;
      font-size: 14px;
    }
    .highlightText {
      color: #26aa99;
      margin-top: 20px;
    }
    .normalText {
      margin-top: 20px;
    }
  }
  .rwBankAccount {
    background-color: #fff;
    .title {
      @include containerLayout;
      padding: 0 12px;
      height: 48px;
    }
    .bankIcon {
      img {
        @include imageSize;
      }
    }
    .bankName {
      margin-left: 12px;
    }
    .number {
      margin-left: 48px;
      padding: 12px 0;
      border-top: 1px solid $black9;
      border-bottom: 1px solid $black9;

      &Label {
        font-size: 12px;
      }
      &Main {
        @include numberMain;
        justify-content: space-between;
      }
    }
    .accountNumber {
      @include accountNumber;
    }
    .allowCopy {
      color: #26aa99;
      @include tappable;
    }
    .text {
      margin-left: 48px;
      padding-bottom: 12px;
      font-size: 12px;
    }
    .highlightText {
      color: #26aa99;
      margin-top: 12px;
    }
    .normalText {
      margin-top: 12px;
    }
  }
}
